
<h1 class="mb-3">ページA</h1>
<h2 class="mb-3">楽天商品検索</h2></h2>


<!--検索-->
<h2 class="mb-3">検索</h2></h2>
<%= form_with(model: @book, url: page_a_path, method: :get) do |f| %>
  <%= f.label :title, 'タイトル' %>
  <%= f.text_field :title %>
  <%= f.submit '検索' %>
<% end %>


<!--今回の検索結果を表示-->
<h2 class="mb-3">今回の検索結果</h2></h2>
<% if @books %>
  <% @books.each do |book| %>
    <%= book.title %>
    <%= book.author %>
  <% end %>
<% end %>


<!--ここから下上手くいってない-->

<!--今までの検索結果を表示-->
<h2 class="mb-3">今までの検索結果</h2></h2>

<% if @books.present? %>
  <table>
    <tr>
      <th>カラム1</th>
      <th>カラム2</th>
    </tr>
    <% @books.each do |row| %>
      <tr>
        <td><%= row[0] %></td>
        <td><%= row[1] %></td>
      </tr>
    <% end %>
  </table>
<% else %>
  <p>データがありません</p>
<% end %>